<notification></notification>
<div class="layout">
    <div class="content-overlay" (mousedown)="hideNav($event)" (touchstart)="hideNav($event)"></div>
    <header class="header navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="btn-side-nav-toggle" type="button" (click)="toggleNav()"></button>
                <img class="brand-logo" alt="logo" src="img/logo.png" />
                <span class="brand-title">
                    {{HEADER_TITLE}}
                </span>
            </div>
            <nav class="navbar-nav navbar-right">
                <ul class="nav nav-inline navbar-right">
                    <li dropdown class="dropdown">
                        <a dropdown-toggle href="#" class="dropdown-toggle" (click)="preventDefault($event)">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu right">
                            <li>
                                <a class="user-profile" [routerLink]="['/user-profile']">
                                    {{loggedUser.userName}}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="logout" href="#logout" (click)="logout($event)">
                                    {{'logout' | translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-search" name="ft-search" (submit)="ftSearch()">
                    <input type="hidden" name="id" value="search" />
                    <input type="search" class="q" name="keyword" value="{{search_keyword}}" placeholder="{{'search' | translate}}" required autocomplete="off" (focus)="searchToggle()" (blur)="searchToggle()" />
                    <button type="reset">
                        <i class="fa fa-times"></i>
                    </button>
                    <input type="submit" value="search" />
                </form>
            </nav>
        </div>
    </header>
    <section class="container">
        <nav nav class="aside side-nav"></nav>
        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </section>
</div>
