<div class="content-header">
    <h1 class="header-title">
        {{'projects' | translate}}
    </h1>
    <div class="content-actions">
        <button class="btn cta-button mdl-typography--font-regular mdl-button mdl-button--raised mdl-button--accent" type="button" (click)="newProject()">
            {{'new_project' | translate}}
        </button>
        <pagination class="pull-right" totalPages="{{meta.totalPages}}" page="{{meta.page}}" (goToPage)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view view-project">
        <header class="entries-head">
            <div class="head-wrap">
                <label class="entry-select">
                    <input type="checkbox" data-toggle="docid" class="all" />
                </label>
                <div class="entry-captions">
                    <span class="vw-project-name">{{'name' | translate}}</span>
                </div>
            </div>
        </header>
        <div class="entries">
            <div *ngIf="!projects">
                {{'loading' | translate}}
            </div>
            <div class="entry-wrap" *ngFor="let project of projects">
                <div data-id="{{project.id}}" class="entry">
                    <label class="entry-select">
                        <input type="checkbox" name="docid" value="{{project.id}}" />
                    </label>
                    <a class="entry-link" [routerLink]="['/projects', project.id]">
                        <div class="entry-fields">
                            <span class="vw-project-name">{{project.name}}</span>
                            <span class="vw-project-customer">{{project.customer?.name}}</span>
                            <span class="vw-project-comment">{{project.comment}}</span>
                            <span class="vw-date">{{project.finishDate | dateFmt}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
