<div *ngIf="!project">
    {{'loading' | translate}}
</div>
<form class="form" [ngFormModel]="form" *ngIf="project">
    <header class="content-header">
        <button class="btn-back" type="button" (click)="close($event)">
            <i class="fa fa-chevron-left"></i>
        </button>
        <h1 class="header-title">
            {{(project.id ? 'project' : 'new_project') | translate}}
        </h1>
        <div class="content-actions">
            <button class="btn btn-primary" type="button" (click)="saveProject()">
                {{'save_close' | translate}}
            </button>
            <button class="btn" type="button" (click)="close($event)">
                {{'close' | translate}}
            </button>
        </div>
    </header>
    <section class="content-body">
        <fieldset class="fieldset">
            <div class="form-group">
                <div class="control-label">
                    {{'name' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.name.valid">
                    <input class="span8" [(ngModel)]="project.name" ngControl="name" />
                    <div [hidden]="form.controls.name.valid || form.controls.name.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'customer' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.customer.valid">
                    <select class="span8" [(ngModel)]="project.customer" ngControl="customer">
                        <option *ngFor="let c of customers" [value]="c.id">{{c.name}}</option>
                    </select>
                    <div [hidden]="form.controls.customer.valid || form.controls.customer.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'manager' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.manager.valid">
                    <select class="span8" [(ngModel)]="project.manager" ngControl="manager">
                        <option *ngFor="let m of users" [value]="m.id">{{m.login}}</option>
                    </select>
                    <div [hidden]="form.controls.manager.valid || form.controls.manager.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'programmer' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.programmer.valid">
                    <select class="span8" [(ngModel)]="project.programmer" ngControl="programmer">
                        <option *ngFor="let p of users" [value]="p.id">{{p.login}}</option>
                    </select>
                    <div [hidden]="form.controls.programmer.valid || form.controls.programmer.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'tester' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.tester.valid">
                    <select class="span8" [(ngModel)]="project.tester" ngControl="tester">
                        <option *ngFor="let t of users" [value]="t.id">{{t.login}}</option>
                    </select>
                    <div [hidden]="form.controls.tester.valid || form.controls.tester.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'observers' | translate}}
                </div>
                <div class="controls">
                    <select class="span8" [(ngModel)]="project.observers" ngControl="observers">
                        <option *ngFor="let obs of users" [value]="obs.id">{{obs.login}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'status' | translate}}
                </div>
                <div class="controls">
                    <label class="input" *ngFor="let ps of projectStatusTypes">
                        <input type="radio" name="status" value="{{ps}}" (change)="setStatus(ps)" [checked]="ps == project.status" />
                        <span>{{ps | text:'L' | translate}}</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'finish_date' | translate}}
                </div>
                <div class="controls">
                    <input type="date" class="span2" [(ngModel)]="project.finishDate" ngControl="finishDate" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'comment' | translate}}
                </div>
                <div class="controls" [class.has-error]="!form.controls.comment.valid">
                    <textarea class="span8" [(ngModel)]="project.comment" ngControl="comment"></textarea>
                    <div [hidden]="form.controls.comment.valid || form.controls.comment.pristine" class="error-message">
                        {{'required' | translate}}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="legend">
                {{'attachments' | translate}}
            </legend>
            <div class="form-group">
                <button type="button" class="btn btn-upload" data-upload="">
                    <i class="fa fa-paperclip"></i>
                    <span>{{'attach_file' | translate}}</span>
                </button>
                <div class="attachments" data-upload-files="">
                    <div class="attachments-file" *ngFor="let att of project.attachments">
                        <a class="file-name" href="{{att.url}}">
                            {{att.realFileName}}
                        </a>
                        <span class="btn btn-sm btn-link btn-remove-file on-edit">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </section>
</form>
