<div *ngIf=loading>
    {{'loading'}}
</div>
<form [ngFormModel]="projectForm" [hidden]=loading>
    <header class="content-header">
        <button class="btn-back" type="button" (click)="close($event)">
            <i class="fa fa-chevron-left"></i>
        </button>
        <h1 class="header-title">
            {{'project'}}
        </h1>
        <div class="content-actions">
            <button class="btn btn-primary" type="button" [disabled]="!projectForm.valid" (click)="saveProject()">
                {{'save_close'}}
            </button>
            <button class="btn" type="button" (click)="close($event)">
                {{'close'}}
            </button>
        </div>
    </header>
    <section class="content-body">
        <fieldset class="fieldset">
            <div class="form-group">
                <div class="control-label">
                    {{'name'}}
                </div>
                <div class="controls">
                    <input class="span6" [(ngModel)]="project.name" ngControl="name" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'customer'}}
                </div>
                <div class="controls">
                    <select class="span6" [(ngModel)]="project.customer" ngControl="customer">
                        <option *ngFor="#c of customers" [value]="c">{{c}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'manager'}}
                </div>
                <div class="controls">
                    <select class="span6" [(ngModel)]="project.manager" ngControl="manager">
                        <option *ngFor="#m of users" [value]="m.id">{{m.login}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'programmer'}}
                </div>
                <div class="controls">
                    <select class="span6" [(ngModel)]="project.programmer" ngControl="programmer">
                        <option *ngFor="#p of users" [value]="p.id">{{p.login}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'tester'}}
                </div>
                <div class="controls">
                    <select class="span6" [(ngModel)]="project.tester" ngControl="tester">
                        <option *ngFor="#t of users" [value]="t.id">{{t.login}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'observers'}}
                </div>
                <div class="controls">
                    <select class="span6" [(ngModel)]="project.observers" ngControl="observers">
                        <option *ngFor="#obs of users" [value]="obs.id">{{obs.login}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'status'}}
                </div>
                <div class="controls">
                    <select class="span6" [(ngModel)]="project.status" ngControl="status">
                        <option *ngFor="#st of statuses" [value]="st">{{st}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'finishDate'}}
                </div>
                <div class="controls">
                    <input type="date" class="span2" [(ngModel)]="project.finishDate" ngControl="finishDate" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    {{'comment'}}
                </div>
                <div class="controls">
                    <textarea class="span6" [(ngModel)]="project.comment" ngControl="comment"></textarea>
                </div>
            </div>
            <div class="form-group">
                attachments
            </div>
        </fieldset>
    </section>
</form>
