<div class="content-header">
    <h1 class="header-title">
        {{'tasks' | translate}}
    </h1>
    <div class="content-actions">
        <button class="btn" type="button" (click)="newTask()">
            {{'new_task' | translate}}
        </button>
        <pagination class="pull-right" totalPages="{{meta.totalPages}}" page="{{meta.page}}" (goToPage)='goToPage($event)'></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view view-task">
        <header class="entries-head">
            <div class="head-wrap">
                <label class="entry-select">
                    <input type="checkbox" data-toggle="docid" class="all" />
                </label>
                <div class="entry-captions">
                    <span>{{'body' | translate}}</span>
                </div>
            </div>
        </header>
        <div class="entries">
            <div *ngIf="!tasks">
                {{'loading' | translate}}
            </div>
            <div class="entry-wrap" *ngFor="let task of tasks">
                <div data-id="{{task.id}}" class="entry">
                    <label class="entry-select">
                        <input type="checkbox" name="docid" value="{{task.id}}" />
                    </label>
                    <a class="entry-link" [routerLink]="['/task', task.id]">
                        <div class="entry-fields">
                            <div class="entry-fields">
                                <span class="vw-task-status">{{task.status}}</span>
                                <span class="vw-task-priority">{{task.priority}}</span>
                                <span class="vw-task-body">{{task.body}}</span>
                                <span class="vw-task-assignee">{{task.assignee}}</span>
                                <span class="vw-date">{{task.startDate | dateFmt}}</span>
                                <span class="vw-date">{{task.dueDate | dateFmt}}</span>
                                <span class="vw-tags">
                                    <span class="tag" *ngFor="let tag of tags">{{tag.name}}</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
