body:not(.side-nav-toggle) .aside + .content {
    margin-left: 0;
}

.body:not(.side-nav-toggle) .aside + .content {
    margin-left: 280px;
}

.view.load:before {
    background: url(../img/loading.gif) no-repeat center center;
    content: '';
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 50px;
    width: 100px;
    z-index: 100;
}

.view.load:after {
    background: rgba(0, 0, 0, .1);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

pagination:empty {
    display: none;
}

.nav-inline > li {
    display: inline-block;
    vertical-align: top;
}


/*projects {
    display: block;
    position: relative;
}

project {
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}*/

.entry-wrap.active .entry {
    background: #eee;
}

.side-nav .nav-link {
    padding: 8px 16px;
}

.side-nav .nav-link > i {
    color: #565656;
    font-size: 20px;
}

.side-nav .nav-link.router-link-active {
    background-color: rgba(0, 127, 255, .1);
    box-shadow: inset 0 0 0 1px #89bcec;
    color: #000;
}

.entry-link.router-link-active {
    background-color: #f5f5f5;
}


/* .vw-project */

.vw-project-name {
    width: 18%;
}

.vw-project-customer {
    width: 15%;
}

.vw-project-comment {
    width: 25%;
}

.vw-date {
    width: 105px;
}


/* .vw-task */

.vw-task-status {
    width: 100px;
}

.vw-task-priority {
    width: 100px;
}

.vw-task-body {
    width: 25%;
}

.vw-task-assignee {
    width: 10%;
}

.vw-tags {
    width: 10%;
}
